<div class="hero-banner">
    <img class="hero-img" src="/images/sunset.jpg" alt="" />
    <div class="hero-overlay">
        <div class="hero-text">
            <h1 class="home-name">Evan Burkeen</h1>
            <p class="home-subhead">Political Science @ Yale</p>
        </div>
    </div>
</div>
<div class="home-info">
    <div class="home-top">
        <a class="home-email" href="mailto:evan.burkeen@yale.edu">evan.burkeen@yale.edu</a>
        <a class="home-email" style="margin-left: 15px;" href="https://flights.evanburkeen.com">Flights ↗</a>
    </div>
</div>